---
// ====================================
// Import
// ====================================

// Config
import { SITE } from "../config";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`About | ${SITE.name}`} description="このページの紹介文">
  <main>
    <div class="hero">
      <div class="ol-container">
        <h1>About</h1>
      </div>
    </div>
  </main>
</Layout>

<style></style>
